.app {
  font-family: sans-serif;
  text-align: center;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.todo button {
  margin-left: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  width: 80%;
  margin: 10px 0;
}
